<p appSpinable [id]="textId">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores aut deserunt dolores enim facere harum ipsam, libero molestiae necessitatibus odit officiis perspiciatis porro repellat repudiandae saepe sint vitae voluptatibus!</p>
<div appSpinable [id]="spinnerId" style="width: 150px; height: 150px;">
  <img style="object-fit: cover; display:inline-block; width: 100%; height: 100%;" [src]="url" alt="#">
</div>
<button (click)="stop()" style="margin-bottom: 10px;">off spinner</button>
<button (click)="on()">on spinner</button>
